.do_the_sign_layout {
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-position: 0 70%;
    background-size: cover;
    display: grid;
    place-items: center;
    height: fit-content;
}

.do_the_sign_container {
    width: min(1000px, 100%);
    margin: 0 auto;
}

.do_the_sign {
    font-family: "Russo One", sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px #000;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.shared_btn {
    font-family: "Russo One", sans-serif;
    position: relative;
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    border: none;
    margin: 0 15px 30px;
    color: #fff !important;
    border-radius: 8px;
    border-top: 3px solid rgba(255, 255, 255, 0.3);
}

.shared_btn::before {
    content: "";
    height: 10%;
    position: absolute;
    width: 40%;
    background: #fff;
    right: 13%;
    top: -3%;
    border-radius: 99px;
}

.shared_btn::after {
    content: "";
    height: 10%;
    position: absolute;
    width: 5%;
    background: #fff;
    right: 5%;
    top: -3%;
    border-radius: 99px;
}

.shared_btn2 {
    padding: 8px 15px 10px;
}

.rules_btn {
    background: repeating-linear-gradient(45deg, #3ebbf7, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
    text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px #004a87;
    border-bottom: 3px solid rgba(16, 91, 146, 0.5);
    box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0, 0, 0, 0.3), 0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e, 0 15px 1px 6px rgba(0, 0, 0, 0.3);
}

.rules_btn:hover {
    top: 2px;
    box-shadow: 0 4px 0 #266b91, 0 6px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e, 0 13px 1px 6px rgba(0, 0, 0, 0.3);
}

.hint_btn {
    background: repeating-linear-gradient(45deg, #ffc800, #ffc800 5px, #ffc200 5px, #ffc200 10px);
    box-shadow: 0 6px 0 #b76113, 0 8px 1px 1px rgba(0, 0, 0, 0.3), 0 10px 0 5px #75421f, 0 12px 0 5px #8a542b, 0 15px 0 5px #593116, 0 15px 1px 6px rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid rgba(205, 102, 0, 0.5);
    text-shadow: 2px 2px 1px #e78700, -2px 2px 1px #e78700, 2px -2px 1px #e78700, -2px -2px 1px #e78700, 0px 2px 1px #e78700, 0px -2px 1px #e78700, 0px 4px 1px #c96100, 2px 4px 1px #c96100, -2px 4px 1px #c96100;
}

.hint_btn:hover {
    top: 2px;
    box-shadow: 0 4px 0 #b76113, 0 6px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 0 5px #75421f, 0 10px 0 5px #8a542b, 0 13px 0 5px #593116, 0 13px 1px 6px rgba(0, 0, 0, 0.3);
}

.setting_btn {
    padding-top: 7px;
    width: 7%;
    background: repeating-linear-gradient(45deg, #9da09e, #9da09e 5px, #858886 5px, #858886 10px);
    text-shadow: 2px 2px 1px #505251, -2px 2px 1px #505251, 2px -2px 1px #505251, -2px -2px 1px #505251, 0px 2px 1px #505251, 0px -2px 1px #505251, 0px 4px 1px #343534, 2px 4px 1px #343534, -2px 4px 1px #343534;
    border-bottom: 3px solid rgba(56, 57, 56, 0.5);
    box-shadow: 0 6px 0 #383938, 0 8px 1px 1px rgba(0, 0, 0, 0.3), 0 10px 0 5px #383938, 0 12px 0 5px #545655, 0 15px 0 5px #202120, 0 15px 1px 6px rgba(0, 0, 0, 0.3);
}

.setting_btn img {
    width: 30px;
    height: 30px;
}

.button_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.setting_btn:hover {
    top: 2px;
    box-shadow: 0 4px 0 #383938, 0 6px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 0 5px #383938, 0 10px 0 5px #545655, 0 13px 0 5px #202120, 0 13px 1px 6px rgba(0, 0, 0, 0.3);
}

.box_container {
    display: flex;
    justify-content: space-between;
    padding-top: 1.25rem;
    gap: 2rem;
}

.box {
    align-items: center;
    border-radius: 10px;
    border-width: thin;
    border-color: rgb(234, 234, 234);
    color: #36395a;
    font-family: "Russo One", sans-serif;
    justify-content: center;
    position: relative;
    font-size: 25px;
}

.left_box {
    background-color: #fff7ec;
    display: grid;
    place-items: center;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    flex-grow: 1;
}

.right_box {
    width: 400px;
    aspect-ratio: 4/3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.timer_title {
    font-family: "Russo One", sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}

.level_title {
    font-family: "Russo One", sans-serif;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    margin-top: -90px;
}

.score_title {
    font-family: "Russo One", sans-serif;
    font-size: 22.5px;
    text-align: center;
    margin-top: -10px;
}

/* Lives */
.lives_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}

.lives_container img {
    width: 30px;
    height: 30px;
    margin: 0 3px;
}

@media screen and (width < 768px) {
    .do_the_sign_layout {
        padding-top: 1rem;
        padding-bottom: 2rem;
        height: fit-content;
    }

    .do_the_sign {
        width: 95%;
        margin: auto;
    }

    .setting_btn {
        width: 15%;
    }

    .setting_btn img {
        width: 30px;
        height: 30px;
    }

    .box_container {
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
    }

    .left_box {
        width: 100%;
        aspect-ratio: 4/3;
    }

    .right_box {
        width: 100%;
        aspect-ratio: 4/3;
        flex-direction: column;
        gap: 1rem;
    }

    .level_title {
        font-size: 30px;
    }

    .score_title,
    .timer_title {
        font-size: 18px;
    }
}

@media (width < 700px) {
    .info_header {
        padding-top: 5rem;
    }
}

@media screen and (width < 480px) {
    .do_the_sign_layout {
        padding-top: 1rem;
    }

    .do_the_sign {
        width: 95%;
        margin: auto;
    }

    .guess_the_word {
        width: 95%;
        margin: auto;
    }

    .shared_btn {
        font-size: 15px;
        margin: 0 10px 20px;
    }

    .shared_btn2 {
        padding: 5px 10px;
    }

    .setting_btn {
        width: 15%;
    }

    .setting_btn img {
        width: 20px;
        height: 20px;
    }

    .box {
        font-size: 20px;
    }

    .lives_container img {
        width: 25px;
        height: 25px;
    }
}
