.popup_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup_content {
    background-color: #f4ad61;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: auto;
    width: 50%;
}

.popup_content h3 {
    font-family: "Russo One", sans-serif;
    background-color: #f4ad61;
    padding: 20px 20px 10px 20px;
    color: #9b4200;
    text-align: center;
    font-size: 35px;
}

.fa_close_btn {
    font-size: 22px;
}

.popup_details {
    background-color: #f9eecf;
    border: 8px solid #f4ad61;
    border-radius: 20px;
    width: 100%;
}

.close_btn_pushable {
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    float: right;
    cursor: pointer;
    margin: -50px 20px 20px 20px;
    width: 40.5px;
    height: 36px;
}

.close_btn_shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
}

.close_btn_edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left, hsl(340deg 100% 16%) 0%, hsl(340deg 100% 32%) 8%, hsl(340deg 100% 32%) 92%, hsl(340deg 100% 16%) 100%);
}

.close_btn_front {
    display: block;
    position: relative;
    border-radius: 15px;
    font-size: 1.25rem;
    padding: 5px 12px;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.close_btn_pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.close_btn_pushable:hover .close_btn_front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.close_btn_pushable:active .close_btn_front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.close_btn_pushable:hover .close_btn_shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.close_btn_pushable:active .close_btn_shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.close_btn_pushable:focus:not(:focus-visible) {
    outline: none;
}

/* Avatar */
.education_canvas_wrapper {
    height: 350px;
}

@media (max-width: 768px) {
    .popup_content {
        width: 70%;
    }

    .education_canvas_wrapper {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .popup_content {
        width: 90%;
    }

    .education_canvas_wrapper {
        height: 400px;
    }
}
