.videoinput-class {
    display: flex;
    align-items: center;
}

.videoinput-class .ant-btn {
    font-size: 15px;
    height: 40px;
    background-color: #e0ebeb;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border: 0px solid #000;
    transition: background-color 0.3s, color 0.3s;
}

.videoinput-class .ant-btn:hover {
    background-color: #ffffff !important;
    color: #000 !important;
}